body{
	margin: 0px;
	transition: all 1s;
}
@font-face {
    font-family: 'Nunito-Bold';
    src:url(../fonts/Nunito-Bold.ttf) format('truetype');
}
/* @font-face {
    font-family: 'Kalina';
    src:url(fonts/Kalnia/static/Kalnia_Expanded-Regular.ttf) format('truetype');
} */

@font-face {
  font-family: 'DM-Serif';
  src: url(../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'DM-Serif';
  src: url(../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  src: url(../fonts/Raleway/static/Raleway-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-italic';
  src: url(../fonts/Raleway/static/Raleway-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url(../fonts/Raleway/static/Raleway-BoldItalic.ttf) format('truetype');
}

.mainHeader{
	  position: fixed; 
    top: -60px; 
    transition: all 0.5s;
    width: 100vw;
    z-index: 1;
    padding-left: 0px;
    padding-right: 0px;
}
/* CSS for the powerful blue neon glowing text effect */
.neon-text {
  font-size: 48px; /* Adjust font size as needed */
  color: #00c3ff; /* Text color */
  text-shadow: 0 0 5px #00c3ff, 0 0 20px #00c3ff, 0 0 40px #00c3ff, 0 0 80px #00c3ff, 0 0 120px #00c3ff, 0 0 140px #00c3ff, 0 0 180px #00c3ff; /* Multiple shadows for the powerful neon effect */
  animation: glowing 1.5s ease-in-out infinite alternate; /* Adjust duration and animation timing as needed */
}
.neon-text-1 {
  /* font-size: 48px; Adjust font size as needed */
  color: #00c3ff; /* Text color */
  text-shadow: 0 0 5px #00c3ff, 0 0 20px #00c3ff, 0 0 40px #00c3ff, 0 0 80px #00c3ff, 0 0 120px #00c3ff, 0 0 140px #00c3ff, 0 0 180px #00c3ff; /* Multiple shadows for the powerful neon effect */
  animation: glowing 1.5s ease-in-out infinite alternate; /* Adjust duration and animation timing as needed */
}

/* Keyframes for the glowing animation */
@keyframes glowing {
  0% {
    text-shadow: 0 0 5px #00c3ff, 0 0 20px #00c3ff, 0 0 40px #00c3ff, 0 0 80px #00c3ff, 0 0 120px #00c3ff, 0 0 140px #00c3ff, 0 0 180px #00c3ff; /* Initial neon glow color and size */
  }
  100% {
    text-shadow: 0 0 10px #00c3ff, 0 0 40px #00c3ff, 0 0 80px #00c3ff, 0 0 160px #00c3ff, 0 0 240px #00c3ff, 0 0 280px #00c3ff, 0 0 360px #00c3ff; /* Increased neon glow color and size */
  }
}

/* HTML element that will have the glowing effect */
.header-section {
  background: #040c04;
  background-image: url('../img/1.jpg');
  text-align: center;
  min-height: 500px;
  height:100vh;
}
.header-section img {
  margin-top: 7em;
}
.header-section h2 {
  font-family: 'DM-Serif';
  font-size: 3em;
  text-transform: capitalize;
  color: #f3f7f5;
  padding: 0.5em 0 0 0;
}
.header-section span {
  color: #f6f8f8;
  font-size: 1em;
}
.header-section p {
  font-family: 'Raleway';
  font-size: 2em;
  color: #eceeed;
}
span.glyphicon.glyphicon-triangle-bottom {
  font-size: 2em;
  color: #fff;
  background-color: rgb(233, 94, 52);
  padding: 0.5em 2em;
  border-radius: 5px 5px 0 0;
  margin-top: 2.5em;
}
.about{
	background-size: cover;
	background: #000000;
/* 	background-image: url('../img/1.jpg');
 */	padding-bottom: 5vw;
	text-align: center;
}
.about h3{
	font-family: 'DM-Serif';
  	font-size: 2.5em;
  	text-transform: capitalize;
  	color: #ffffff;
  	padding-bottom: 2%;
}

.about-text {
  font-family: 'Raleway';
  	font-size: 1em;
  	text-transform: capitalize;
  	color: #ffffff;
  	padding-bottom: 2%;
}

.yourPic{
	    padding-left: 0%;
	    transition:  all 0.5s;
}
@media only screen and (min-width:200px) and (max-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
	.yourPic{
	    padding-left: 0%;
	}
}
@media only screen and (min-width:321px) and (max-width:400px)  { /* smartphones, Android phones, landscape iPhone */
	.yourPic{
	    padding-left: 10%;
	}
}
@media only screen and (min-width:401px) and (max-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
	.yourPic{
	    padding-left: 25%;
	}
	
}
@media only screen and (min-width:601px) and (max-width:767px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
	.yourPic{
	    padding-left: 30%;
	}
}
@media only screen and (max-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media only screen and (max-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
}
@media only screen and (max-width:1281px) { /* hi-res laptops and desktops */ 
}

/* ----------------------------------education section------------------------------------- */

.education{
  background-size: cover;
	background: #eff3ef;
  padding-bottom: 5vw;
	text-align: center;
}

.education-heading {
  font-family: 'DM-Serif';
  font-size: 2.5em;
  text-transform: capitalize;
  color: #0c0b0b;
  padding-bottom: 2%;
  text-align: center;
  margin-bottom: 50px;
}


.education-entry {
  display: flex;
  justify-content: Cormorantspace-between;
  align-items: center;
  margin-bottom: 0.1em; /* Space between entries */
}

.education-card_1 {
  position: relative;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: auto;
  background: transparent;
  min-height: 306px;
  /* ... other styles ... */
}

.education-card_1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../img/srm.png');
  background-size: 500px;
  background-position: center;
  filter: blur(3px);
  z-index: 1; /* Place the pseudo-element just below the content */
}

/* Overlay to darken the background */
.education-card_1::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(26, 25, 25, 0.5); /* Semi-transparent black */
  z-index: 2; /* Above the image, below the content */
}

/* Ensure content is above the overlay */
.education-card_1 * {
  position: relative;
  z-index: 3;
}

.education-card_2 {
  position: relative;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: auto;
  background: transparent;
  margin-bottom: 30px;
  min-height: 300px;
  /* ... other styles ... */
}

.education-card_2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../img/mrob.jpg');
  background-size: 440px;
  background-position: center;
  filter: blur(3px);
  z-index: 1; /* Place the pseudo-element just below the content */
}

/* Overlay to darken the background */
.education-card_2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(26, 25, 25, 0.5); /* Semi-transparent black */
  z-index: 2; /* Above the image, below the content */
}

/* Ensure content is above the overlay */
.education-card_2 * {
  position: relative;
  z-index: 3;
}


.degree-title {
  font-family: 'Raleyway-Bold';
  font-size: 2em; /* Adjust size as needed */
  font-weight: bold;
  margin-bottom: 10px; /* Space below title */
  text-align: left;
  color: #f6f8f8;
}

.university-name {
  font-family: 'Raleyway-Bold';
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 10px; /* Space below university name */
  text-align: left;
  color: #f6f8f8;
}

.university-name .year {
  font-weight: normal;
  color: #ffffff; /* Year color */
  
}

.coursework {
  font-family: 'Raleway';
  	font-size: 1em;
  	text-transform: capitalize;
  	color: #ffffff;
  	padding-bottom: 2%;
    text-align: left;
}

.coursework ul {
  padding-left: 20px; /* Adjust the indentation of the list */
  /* Any additional styling for the list */
}

.coursework li {
  margin-bottom: 1px; /* Space between each course item */
  /* Any additional styling for list items */
}

.gpa {
  font-family: 'Raleyway-italic';
  font-style: italic;
  text-align: right;
  font-size: 0.6em; /* Smaller than the degree title */
  color: #ffffff; /* You can change this as needed */
  margin-left: 30px; /* Space between degree title and GPA */
}

/* Responsive adjustments if necessary */
@media (max-width: 768px) {
  .education-card {
      padding: 15px;
  }
}




/* ----------------------------------education section------------------------------------- */



/* .skills{
  background-size: cover;
	background: #eff3ef;
  padding-bottom: 5vw;
	text-align: center;	
} */

.skills {
  background-size: cover;
  background: #eff3ef;
  padding-bottom: 5vw;
  text-align: center;
}

.skills-heading {
  font-family: 'DM-Serif';
  font-size: 2.5em;
  text-transform: capitalize;
  color: #0c0b0b;
  padding-bottom: 2%;
  text-align: center;
}

.skills-name {
  font-family: 'Raleway';
  font-size: 1.3em;
  text-transform: capitalize;
  color: #0c0b0b;
  text-align: left;
  /* flex: 1; Allows the name to take up the space needed */
  margin-right: 1.0em;
}

.skill-icon {
  margin-right: 8px; /* Adjust the space as needed */
  color: #12aa33;
}


.skill-set {
  text-align: left; /* Align skill text to the left */
}

.skill-set h4 {
  margin-bottom: 0.5em; /* Space between skill text and progress bar */
}

.progress {
  height: 20px; /* Set a fixed height for your progress bars */
  background-color: #ffffff;
  border-radius: 5px; /* Optional: adds rounded corners to the progress bars */
  overflow: hidden; /* Ensures the inner bar does not overflow */
  width: 100%; /* Ensures the progress bar container takes the full width */
}

.progress-bar {
  height: 100%; /* Ensures the progress bar fills the container vertically */
  border-radius: 5px; /* Match the border-radius of the progress container */
  background-color: #ece8e8;
}

/* Example color for a progress bar, repeat for each type/skill */
.progress-bar-success {
  background-color: #ff8a05; /* Bootstrap 4 success color */
}

/* Ensure the .col-md-12 has no padding that could affect the full width */
.col-md-12 {
  padding-left: 0;
  padding-right: 0;
}
/* -------------------------------------publications section ----------------------------------------------*/


.publication{
  background-size: cover;
	background: #eff3ef;
  padding-bottom: 5vw;
	text-align: center;
}

.publication-heading {
  font-family: 'DM-Serif';
  font-size: 2.5em;
  text-transform: capitalize;
  color: #0c0b0b;
  padding-bottom: 2%;
  text-align: center;
}

.publication-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.1em; /* Space between entries */
}

.pub-title {
  font-family: 'Raleway';
  font-size: 1.2em;
  text-transform: capitalize;
  text-align: left;
  color: #0c0b0b;
  flex: 1; /* Allows the title to take up the space needed */
  margin-right: 0.5em; /* Ensures some space between title and university name */
}

.pub-name {
  font-family: 'Raleway';
  font-size: 0.9em;
  text-transform: capitalize;
  color: #0c0b0b;
  text-align: left;
  flex: 1; /* Allows the name to take up the space needed */
  margin-right: 0.5em;
}

label {
  font-family: 'Raleway';
  font-size: 1em;
  color: #0c0b0b;
  white-space: nowrap; /* Keeps label text on the same line */
}




/* ----------------------------------expirence page------------------------------------------------------- */

.exps {
  background-color: rgb(7, 10, 7);
  padding: 5%;
  text-align: center; 
  min-height: 100vh;     
}

.exp-item {
  display: flex;
  align-items: flex-start; /* Align items to the start of the flex container */
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.1); /* Transparent background */
  padding: 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.exp-image {
  flex: 0 0 auto; /* Do not grow or shrink */
  margin-right: 20px; /* Space between image and the content */
}

.exp-image img {
  width: 180px; /* Adjust as needed */
  height: auto;
}

.exp-content {
  position: relative;
  flex: 1; /* Take up remaining space */
}

.exp-title {
  font-family: 'DM-Serif';
  font-size: 1.5em;
  color: #ffffff;
  margin-bottom: 10px; /* Space below the title */
}

.main-heading {
  font-family: 'DM-Serif';
  font-size: 4em;
  color: #ffffff;
  margin-bottom: 40px; /* Space below the title */
}


.exp-hidden-content {
  display: block;
  opacity: 0;
  transition: opacity 0.5s ease; /* Increase the duration to 0.5s or more for a smoother effect */
  font-family: 'Raleway';
  font-size: 1em;
  text-transform: capitalize;
  color: #ffffff;
  padding-bottom: 2%;
  text-align: left;
  max-height: 0; /* Add this to start with hidden content */
  overflow: hidden; /* Add this to hide the overflow when content is hidden */
}

.exp-item:hover .exp-hidden-content {
  opacity: 1;
  max-height: 1000px; /* Increase max-height to accommodate the content size */
  transition: opacity 0.8s ease, max-height 0.8s ease; /* Add max-height to the transition for a smoother effect */
}


.media-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; /* Space between the description and the media container */
  flex-wrap: wrap; /* Allows the items to wrap in smaller screens */
}

.youtube-video-container,
.gif-container {
  flex: 0 0 auto; /* Prevents the containers from growing or shrinking */
  margin-right: 100px; /* Space between the video and the GIF */
}

.youtube-link {
  display: block;
  width: 320px; /* Specify the width of the YouTube thumbnail */
  height: 180px; /* Specify the height of the YouTube thumbnail */
  position: relative; /* For the play button positioning */
  margin-bottom: 20px;
}

.youtube-thumbnail {
  width: 100%;
  height: 100%; /* Make the thumbnail fill the link container */
  object-fit: cover; /* Ensures the image covers the area without stretching */
  border-radius: 5px;
  
}

.youtube-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the button */
  width: 32px; /* Size of the play button */
  height: 32px; /* Size of the play button */
  border-radius: 50%;
  background: url('../img/YouTube_play_button_icon.png') no-repeat center center; /* Play button icon */
  background-size: cover; /* Cover the area of the button */
  pointer-events: none; /* Ignore pointer events so the link is clickable */
}

.gif-container {
  width: 320px; /* Specify the width of the GIF */
  height: 180px; /* Specify the height of the GIF */
}

.project-gif {
  width: 100%;
  height: 100%; /* Make the GIF fill its container */
  object-fit: cover; /* Ensures the image covers the area without stretching */
}

.skills-list {
  list-style-type: none; /* Removes default list bullets */
  padding: 0; /* Resets default padding */
  margin-top: 10px; /* Spacing after the description */
  text-align: center; /* Center-align the list items */
  display: flex; /* Use flexbox for horizontal layout */
  flex-wrap: wrap; /* Allow items to wrap onto the next line */
  justify-content: center; /* Center items horizontally */
  gap: 10px; /* Space between items */
}

.skills-list li {
  background: #ffffff; /* Background color for skill tags */
  color: #000000; /* Text color for skill tags */
  font-family: 'Raleway';
  font-size: 1em;
  text-transform: capitalize;
  padding-bottom: 2%;
  padding: 5px 10px; /* Padding inside each tag */
  border-radius: 5px; /* Rounded corners for tags */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); /* Optional: adds depth to the tags */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.skills-list li:hover {
  background: #cccccc; /* Change background color on hover */
}


@media (max-width: 768px) {
  .exp-item {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .exp-image {
    margin-right: 0; /* Remove right margin for image */
    margin-bottom: 10px; /* Space below image */
    align-self: center; /* Center the image */
  }

  .exp-hidden-content {
    display: block;
    opacity: 0;
    max-height: 0; /* Start with hidden content */
    overflow: hidden; /* Hide overflow */
    transition: opacity 0.5s ease, max-height 0.5s ease; /* Smooth transition */
  }

  .exp-item:hover .exp-hidden-content {
    opacity: 1;
    max-height: 1000px; /* Increase max-height */
  }

  .media-container {
    flex-direction: column; /* Stack media items vertically */
    align-items: center; /* Center-align the items */
  }

  .youtube-video-container,
  .gif-container {
    width: 100%; /* Full width of container */
    margin-right: 0; /* Remove right margin */
    margin-bottom: 10px; /* Space between media items */
  }

  .skills-list {
    justify-content: center; /* Center skills list */
    flex-direction: column; /* Stack skills list vertically */
  }

  .skills-list li {
    margin-bottom: 5px; /* Space between skills */
  }
}

/* ----------------------------------expirence page------------------------------------------------------- */


/* ----------------------------------project page------------------------------------------------------- */

.projects{
	background-color: rgb(7, 10, 7);
	padding: 5%;
	text-align: center;	

}

body .projects .main-heading {
  margin-bottom: 100px;
  font-family: 'DM-Serif';
  font-size: 4em;
  text-transform: capitalize;
  color: #ffffff;
  padding-bottom: 100px; /* Adjust this value as needed */
  text-align: center;
}


.project-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Space between project items */
}

.project-image img {
  width: 200px; /* Adjust as needed */
  height: auto;
  margin-right: 200px; /* Space between image and text */
}

.project-image_1 img {
  width: 350px; /* Adjust as needed */
  height: auto;
  margin-right: 200px; /* Space between image and text */
}

.project-info {
  position: relative;
}

.project-title {
  font-family: 'DM-Serif';
  font-size: 1.5em;
  color: #ffffff;
  cursor: pointer; /* Indicates the title is interactive */
  text-align: left;
}

.project-description {
  font-family: 'Raleyway';
  background: #000000;
  overflow: hidden;
  color: #ffffff;
  line-height: 20px;
  transition: max-height .5s ease-in-out;
  max-height: 0; 
  text-align: left;  
}


.project-image:hover + .project-info .project-description {
  max-height: 500px; /* Adjust as needed */
}

.project-image_1:hover + .project-info .project-description {
  max-height: 500px; /* Adjust as needed */
}

/* Responsive adjustments if necessary */
@media (max-width: 768px) {
  .project-item {
      flex-direction: column;
      align-items: flex-start;
  }

  .project-image img {
      margin-bottom: 10px;
  }

  .project-description {
      position: static;
  }
}
/* ----------------------------------project page------------------------------------------------------- */

.hero{
  width: 100%;
  height: 40%;
  background: #3498db;
  display: table;
}

h1{
  color: #2c3e50;
  text-align: center;
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-weight: 300;
}

.figure{
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 5px solid #fff;
  box-shadow: 0 0 5px #ddd;
  margin: 1em;
}

.figcaption{
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: table;
}

.figcaption div{
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: 0px;
  opacity: 0;
  color: #2c3e50;
  text-transform: uppercase;
}

.figcaption div:after{
  position: absolute;
  content: "";
  left: 0; right: 0;
  bottom: 50%;
  text-align: center;
  margin: auto;
  width: 0%;
  height: 2px;
  background: #2c3e50;
}

.figure img{
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.figure:hover .figcaption{
 background: rgba(255,255,255,0.3);
}
.figure:hover .figcaption div{
  opacity: 1;
}
.figcaption:hover div{
  opacity: 1;
  top: 0;
}

.figcaption:hover div:after{
  width: 50%;
}

.figure:hover img{
  -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);
}
#about{
	padding-top: 10vh;
}
.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 17%;
}

*, *::before, *::after{
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

/*font-face*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #000000;
    color: white; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 50%;
    font-size: 18px;	
    transition: all 2s;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.study-section {
  padding: 4em 0;
}
.study-grid h3 {
  font-family: 'Nunito-Bold';
  font-size: 2.5em;
  text-transform: capitalize;
  color: #393b3a;
  
}
.study-grid span {
  color: #00cfbd;
  font-size: 0.9em;
}
.study-grid p {
  font-size: 1.2em;
  color: #393b3a;
  padding: 1.1em 0 0 0;
  }
.study-grid label {
  font-size: 0.8em;
  color: #9CA69D;
  margin: 0 0 0 7px;
}
.progress {
	margin: 10px 0;
	 box-shadow: none;
}
.progress-bar-success {
  background-color: #DEECDF;
   box-shadow: none;
}
.progress-bar-info {
  background-color: #ACB5B8;
    box-shadow: none;
}
.progress-bar-warning {
  background-color: #78B3AE;
   box-shadow: none;
}
.progress-bar-danger {
  background-color: #8C9D82;
  box-shadow: none;
  }
.study-grid h4 {
  font-size: 1.3em;
  text-transform: capitalize;
  color: rgb(29, 26, 26);
  }
.study1 {
  padding: 1em 0 0;
}
.study2 {
  padding: 2em 0 0;
}
.service-section {
  text-align: center;
  padding: 4em 0;
}
.service-grid h4 {
  font-size: 1.5em;
  margin: 0.9em 0;
    font-family: 'Nunito-Bold';
}
.service-grid p {
  font-size: 1em;
  font-weight: 400;
  color: #9CA69D;
    line-height: 1.8em;
}
span.glyphicon.glyphicon-pencil {
  font-size: 2em;
  color: #C6D9C7;
  border-radius: 50px;
  border: 2px solid;
  padding: 1em;
}
span.glyphicon.glyphicon-phone{
font-size: 2em;
  color: #C6D9C7;
  border-radius: 50px;
  border: 2px solid;
  padding: 1em;
}
span.glyphicon.glyphicon-signal{
font-size: 2em;
  color: #C6D9C7;
  border-radius: 50px;
  border: 2px solid;
  padding: 1em;
}
.contactMe{

}
.contact-section {
  padding: 4em 0;
  background: #000000;
 
 }
.contact-section h3 {
  font-family: 'DM-Serif';
  font-size: 2.5em;
  text-transform: capitalize;
  color: #e2d3d3;
  text-align: center;
  margin-bottom: 1.5em;

}

.social-icons {
  /* Additional styling if needed */
  text-align: center;
  margin-bottom: 100px;
}

.social-icon {
  display: inline-block;
  margin-right: 80px;
  color: #ffffff; /* Change as needed */
  font-size: 50px;
  text-decoration: none;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.social-icon:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(17px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 100%; /* Make it round for icons */
}

.social-icon:hover:before {
  opacity: 1;
}

.social-icon:hover {
  color: #fff; /* Maintain the same color on hover */
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


.contact-details form input[type="text"],.contact-details form textarea {
	width: 100%;
	padding: 1.5em 1em;
	border: 1px solid #7ca17f;
	font-size: 1.1em;
	margin-bottom: 1.2em;
	color: #Aac8ac;
	outline: none;
	background:transparent;
	font-weight: 600;
}
.contact-details form textarea {
	height: 244px;
	resize: none;
	width: 100%;
}
.contact-right{
	text-align:right;
}
.contact-details input[type="submit"] {
	background: #393b3a;
	padding: 1em 2em;
	border: none;
	font-size: 1em;
	margin: 0.5em 0 0 0;
	color: #fff;
	outline: none;
	font-weight: 600;
	border-radius:5px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.contact-details input[type="submit"]:hover {
  color: #fff;
  background: rgb(0, 207, 189);
}
.mainFooter{
	background-color: #000000;
	color: #ffffff;
}
.footer-top{
	text-align: center;
	font-family: 'Nunito-Bold';
  	font-size: 1em;
  	text-transform: capitalize;
  	padding-top: 10px;
}
.panel-default>.panel-heading {
    background-color: #db0f31;
}
.navbar-inverse .navbar-nav>li:hover {
    background-color: #9d9d9d;
    color: white;
    border-radius: 4px;
}
.navbar-inverse {
    background-color: #000000;
    border: none;
}

.home-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #000000;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px; /* Adjust icon size */
  border-radius: 50%; /* Circular button */
  width: 50px; /* Fixed width */
  height: 50px; /* Fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  z-index: 1000;

}

.home-button:hover {
  background-color: #cdeeae;

}

.home-button i {
  /* Additional styling for the icon if needed */
  font-size: 20px; /* Adjust icon size */
  color: #ffffff; /* Adjust icon color */
}

@media (max-width: 768px) {
  .home-button {
      right: 10px; /* Adjust position for smaller screens */
      width: 40px; /* Smaller size for smaller screens */
      height: 40px; /* Smaller size for smaller screens */
  }
}

